<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Title</title>
        {% block scripts %}
        <script src="{{url_for('static', filename='main.js')}}">
        {% endblock %}
        </script>
        <link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='layouttemplate.css')}}">
    </head>
    <nev>
        This is the nevigation bar.
    </nev>
    <body>
        <ul id="imagelist">
            {% block content %}
            {% endblock %}
        </ul>
    </body>
    <footer>
        This is a very simple website
    </footer>
</html>