{% extends "baselayout.html"%}

{%block content%}
    <h1>My Math Textbooks</h1>
    {% if elementlist %}
        {% for element in elementlist %}
            <li>
                <a 
                href="{{element[1]}}">
                {{element[0][:-4]}}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <p>
            There is not enough books on server to populate. 
        </p>
    {% endif %}

<button id="videobtn">
    Populate Videolist List
</button>
<div id="vidframe">


</div>

{%endblock%}