.mycenter
{
    text-align: center;
}

.mypara
{
    text-align: left; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

span.highlighted-phrase
{
    font-weight: bold;
}

.auto-hidden
{
    display: none;
}

.hidden-answers
{
    display: none;
}

.pointable
{
    cursor: pointer;
}

.pointable:hover
{
    font-weight: bold !important; 
}

/*
Bootstrap Augmentations
*/
.list-group
{
    display: inline-block;
}


